.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --ion-background-color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  transition: transform 0.3s ease;
  margin: 16px;
}


.rounded-rectangle img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.button-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.back-icon {
  font-size: 30px;
}

