<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="back-button">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon name="arrow-back-outline" class="back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="end" class="header-title">איפוס הסיסמא</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="image-container">
    <ion-img src="../../../assets/images/logo.png"></ion-img>

  </div>

  <div class="container">
    <h2 class="title">הכנסו כתובת מייל</h2>
    <ion-list>
      <ion-item>
        <ion-label position="floating" dir="rtl">כתובת מייל <ion-text color="danger">(חובה)</ion-text></ion-label>
        <ion-input type="email" [(ngModel)]="email" #emailField="ngModel" required></ion-input>
      </ion-item>
      <ion-button [disabled]="emailField.invalid || (!email.endsWith('.com') && !email.endsWith('.co.il'))" (click)="resetPassword()" expand="full" color="primary">אישור</ion-button>

    </ion-list>

    
  </div>
</ion-content>
