<ion-searchbar show-clear-button="focus" [(ngModel)]="searchTerm" (ionInput)="filterCustomers()"></ion-searchbar>
<ion-content class="ion-padding">
  <br>
  <div class="image-container">
    <ion-img id="logo" src="https://i.ibb.co/XX7BV00/removebg-preview.png" alt="Logo"></ion-img>
  </div>
  <ion-card-title>ניהול לקוחות</ion-card-title>

  
    <div *ngFor="let customer of filteredCustomers">
      <ion-card (click)="openModal(customer)">
        <ion-card-header>
          <ion-card-title> {{customer.childName}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  
</ion-content>
