<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="back-button">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon name="arrow-back-outline" class="back-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="end" class="header-title">ניהול לקוחות</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="image-container">
    <ion-img src="../../../assets/images/logo.png"></ion-img>
  </div>
  <h1 class="page-title">רשימת לקוחות</h1>
  <div class="searchbar-container">
    <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterCustomers()"
    placeholder="חיפוש לקוח"
    class="custom-searchbar"
    dir="rtl"></ion-searchbar>
  
  </div>

  <div class="customer-cards">
    <ion-card *ngFor="let customer of filteredCustomers" (click)="openModal(customer)">
      <ion-card-header>
        <ion-card-title>{{ customer.childName }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>