
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  ion-content {
    --ion-background-color: white;
    
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .whatsapp {
    position: relative;
  }
  
  .whatsapp a {
    position: absolute;
    right: 10%;
    transform: translateY(80%);
  }
  
  .whatsapp a img {
    width: 30px;
    height: 30px;
  }

  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-center .waze  {
    margin: 20px;
    width: 30px;
    height: 30px;
  }
  
  .flex-center .instagram {
    margin: 20px;
    width: 30px;
    height: 30px;
  }

  .display-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .popup {
    width: 90%;
    height: auto; 
    min-height: 45%; 
    max-height: 75%; 
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    background-color: rgba(255, 255, 255, 1) !important;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99999;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  
   
    animation: flipIn 0.6s ease-in-out;
  }
  
  @keyframes flipIn {
    0% {
      transform: translate(-50%, -50%) rotateY(90deg); 
    }
    100% {
      transform: translate(-50%, -50%) rotateY(0deg); 
    }
  }
  
  .popup ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;  
    height: 40px;  
    margin: auto;  
  }
  
