<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>פרטי לקוח</ion-card-title>
    </ion-card-header>
    <br>
    <ion-card-content *ngIf="!editMode" dir="rtl">
      <p>שמות ההורים: <span>{{customer.parentNames}}</span></p>
      <p>מספר טלפון: <span>0{{customer.phoneNumber}}</span></p>
      <!-- <p>שם משתמש: <span>{{customer.username}}</span></p> -->
      <!-- <p>סיסמא: <span>{{customer.password}}</span></p> -->
      <p>אימייל: <span>{{customer.email}}</span></p>
      <p>שם הילד: <span>{{customer.childName}}</span></p>
      <p>תאריך לידה: <span>{{customer.birthdate | date}}</span></p>
      <p>מגדר: <span>{{customer.gender}}</span></p>
      <p>סוג הקורס: <span>{{customer.courseType}}</span></p>
      <p>תעודת זהות של הילד: <span>{{customer.childID}}</span></p>
      <!-- <p>המורה: <span>{{customer.teacher}}</span></p>
      <p>מזהה הקורס: <span>{{customer.courseID}}</span></p> -->
    </ion-card-content>
    

    <ion-card-content *ngIf="editMode">
 

      <ion-item>
        <ion-label dir="rtl" slot="end">שמות ההורים:</ion-label>
        <ion-input [(ngModel)]="customer.parentNames" type="text" dir="rtl"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label dir="rtl"  slot="end">מספר טלפון:</ion-label>
        <ion-input [(ngModel)]="customer.phoneNumber" type="text" dir="rtl"></ion-input>
      </ion-item>
    
      
      <!-- <ion-item>
        <ion-label dir="rtl" slot="end">סיסמה:</ion-label>
        <ion-input [(ngModel)]="customer.password" type="password" dir="rtl"></ion-input>
      </ion-item> -->
      
      <ion-item>
        <ion-label dir="rtl" slot="end">אימייל:</ion-label>
        <ion-input [(ngModel)]="customer.email" type="email" dir="rtl"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label dir="rtl" slot="end">שם הילד:</ion-label>
        <ion-input [(ngModel)]="customer.childName" type="text" dir="rtl"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="stacked">Birthdate:</ion-label>
        <ion-datetime [(ngModel)]="customer.birthdate" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"></ion-datetime>
      </ion-item>
      <br>
      <ion-item>
        <ion-label dir="rtl" slot="end">מין:</ion-label>
        <ion-input [(ngModel)]="customer.gender" type="text" dir="rtl" disabled></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label dir="rtl" slot="end">סוג קורס: </ion-label>
        <ion-select aria-label="Courses" interface="action-sheet" [(ngModel)]="customer.courseType" dir="rtl" placeholder="בחר קורס">
          <ion-select-option *ngFor="let course of courses" [value]="course.courseType">
            {{ course.courseType }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      

      
      <ion-item>
        <ion-label dir="rtl" slot="end">ת.ז. של הילד:</ion-label>
        <ion-input [(ngModel)]="customer.childID" type="text" disabled dir="rtl"></ion-input>
      </ion-item>
      
      <!-- <ion-item>
        <ion-label dir="rtl" slot="end">מורה:</ion-label>
        <ion-input [(ngModel)]="customer.teacher" type="text" dir="rtl"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label dir="rtl" slot="end">ת.ז. של הקורס:</ion-label>
        <ion-input [(ngModel)]="customer.courseID" type="text" dir="rtl"></ion-input>
      </ion-item> -->

      <div class="buttons">
        <ion-button color="success" size="full" (click)="saveChanges()">שמירה</ion-button>
        <ion-button size="full" (click)="cancel()">ביטול</ion-button>
        <ion-button size="full" color="danger" (click)="confirmDelete()">מחק לקוח</ion-button>
      </div>
    
      
      </ion-card-content>

      <div class="flex-center">
        <ion-button style="font-size: 18px;" color="success" (click)="toggleEditMode()" *ngIf="!editMode">ערוך לקוח</ion-button>
      </div>
      <div style="display: flex; justify-content: center;">
        <ion-button style="width: 100%; font-size: 18px;"  size="large" (click)="closeModal()" *ngIf="!editMode">סגירה</ion-button>
      </div>
      
      </ion-card>
      
      </ion-content>
      